body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top {
    display: flex;
    justify-content: flex-end;
    padding: 4px 8px;
}

.container {
    display: flex;
    flex-direction: row;
}

.left {
    flex-basis: 30%;
}

.right {
    flex-basis: 70%;
}

.controller {
    margin: 16px 8px;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 16px 16px 24px;
}

.chart {
    margin: 32px 8px 16px;
    padding: 8px 16px;
}

#message-box {
    display: flex;
    flex-wrap: wrap;
    margin-right: 12px;
}

#message-box > div {
    border: 2px solid rgb(24, 91, 53);
    border-radius: 4px;
    padding: 0 16px;
    background-color: rgb(107, 200, 177);
    opacity: 0.75;
}

#message-box p {
    margin: 12px 0;
}

#btn-export {
    margin-right: 5%;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    background-color: black;
}

#btn-export:hover {
    background-color: gray;
}